{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
    <title>Realizar Pago</title>
</head>
<body>
    <h1>PAGOS EDIFICO MIRADOR</h1>
    <p>Estás a punto de pagar el siguiente monto: ${{ pago.monto }}</p>
    <table border="1" style="width: 100%; text-align: center;">
        <tr>
            <th>Descripción</th>
            <th>Monto</th>
            <th>Mes de Pago</th>
            <th>Departamento</th>
        </tr>
        <tr>
            <td>{{ pago.descripcion }}</td>
            <td>${{ pago.monto }}</td>
            <td>{{ pago.mes_pago }}</td>
            <td>{{ pago.num_departamento.num_departamento }}</td>
        </tr>
    </table>

    <br><form method="POST">
        {% csrf_token %}
        <h3>Ingresa los datos:</h3><br>
        <label for="card_number">Número de Tarjeta:</label><br>
        <input type="text" id="card_number" name="card_number" required><br><br>

        <label for="card_holder">Titular de la Tarjeta:</label><br>
        <input type="text" id="card_holder" name="card_holder" required><br><br>

        <label for="expiry_date">Fecha de Expiración:</label><br>
        <input type="text" id="expiry_date" name="expiry_date" placeholder="MM/AA" required><br><br>

        <label for="cvv">CVV:</label><br>
        <input type="password" id="cvv" name="cvv" required><br><br>

        <button type="submit" style="background-color: #007bff; color: white; padding: 10px; border: none; border-radius: 5px;">Pagar</button>
    </form>
</body>
</html>
